.vscode
.mypy_cache
*.key
*.crt
*.csr
*.pem
backend/app/app/core/certificates/capif_provider_details.json
backend/app/app/core/certificates/CAPIF_service_as_session_with_qos.json
backend/app/app/core/certificates/CAPIF_service_monitoring_event.json
capif-provider/certificates/capif_provider_details.json
capif-provider/certificates/CAPIF_service_as_session_with_qos.json
capif-provider/certificates/CAPIF_service_monitoring_event.json
venv/
**/node_modules