/* Layout.css */
.layout {
  display: flex;
  height: 100vh;
}

.sidebar-column {
  width: 15%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #000; /* Add border to the right */
}

.logo-container {
  height: 10%;
  border-bottom: 1px solid #000; /* Add border to the bottom */
}

.sidebar {
  flex: 1;
}

.main-column {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.topbar {
  height: 10%;
  border-bottom: 1px solid #000; /* Add border to the bottom */
  
}

.central-panel {
  flex: 1;
}


.central-panel {
  flex: 1;
}

