/* Layout.css */
.layout {
  display: flex;
  height: 100vh; /* Set layout height to fill viewport */
}

.main-column {
  flex: 1; /* Allow main column to grow to fill available space */
  display: flex;
  flex-direction: column;
}

.central-panel {
  flex: 1; /* Allow central panel to grow to fill available space */
  display: flex;
  flex-direction: column;
}

.map-page {
  flex: 1; /* Allow map page to grow to fill available space */
  display: flex;
  flex-direction: column;
}

.map-container {
  flex: 1; /* Allow map container to grow to fill available space */
  display: flex;
  flex-direction: column;
}

