.app-container {
  display: flex;
}

.sidebar {
  width: 250px;
  transition: width 0.3s;
}

.sidebar-hidden .sidebar {
  width: 0;
  overflow: hidden;
}

.main-content {
  flex: 1;
  transition: margin-left 0.3s;
}

.sidebar-hidden .main-content {
  margin-left: 0;
}

.c-header {
  padding-left: 20px; /* Ensure some padding around icons */
  padding-right: 20px;
}

.c-header-nav {
  display: flex;
  align-items: center;
}
