.card .icon-dashboard { font-size: 2rem !important; }
.card .spinner-grow {position: absolute; bottom: 1rem; right: 1rem;}

.row table.dataTable thead th {border-bottom: none;}
.row table.dataTable.no-footer {border-bottom: none}