/* SidebarComponent.css */
.sidebar {
    width: 250px; /* Adjust width as needed */
    height: 100%;
    background-color: #555; /* Example background color */
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99; /* Ensure the sidebar is below the top bar */
  }
  